/*    
 * colors
 * lightgrey : #ebefc0;
*/


/* RESETS & DEFAULTS*/

html { font-family: sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #ebecf0;}
body { margin: 0; background: #434343; }
input { border: 1px solid #565656; margin:0;}
ul { list-style:none; padding:0; margin:0; }
table { border-spacing: 0; border-collapse: collapse; }
input::-moz-focus-inner { border: 0; padding: 0; } /* Remove button padding in FF*/

#checkout, #betslip { display: none; }

#chats  { max-width: 100%; overflow: hidden; }

/* HEADER */

header #logo { 
   background-image: url(img/logo_text1.png);
   background-repeat: no-repeat;
   background-size: 122px 42px;
   width:194px;
   height:42px;
   display:inline-block;
   margin: 5px 3px;
}

ul#nav li { 
   height: 70px;
   padding-top: 10px;
   width: 120px; 
}
ul#nav li a { text-decoration: none; color: #ebcef0; }
nav ul li.selected { 
   color: #ffb54b;
   background-color: #434343;
   border-top: 3px solid #eceff0;
}

/* DESKTOP & TABLET */
@media only screen and (min-width : 600px) {
   #intro { 
     font-size: 80px;
     height: 100vh;
     background-color: white;
     background-image: url(img/landingpage_placeholder_desktop.png);
     background-repeat: no-repeat;
     background-size: contain; 
   }

   header .hdr {
      margin-top: -70px;
      height: 70px;
      background-color: #565656; 
      width: 100%;
      z-index:9999;
   }

   header.below .hdr { position:fixed; top:0; margin-top: 0;}

   ul#nav { float: right; }
   ul#nav li { display: inline-block; }

   #menu-btn, .back-btn, .betslip-btn { display: none; }

   section {margin-left: 250px; width: 400px; }
}

 /* SMARTPHONES (LANDSCAPE & PORTRAIT) ----------- */

@media only screen and (max-width : 600px) {

   #intro { display: none; }

   header .hdr { 
      height: 52px;
      background-color: #565656; 
      background: linear-gradient(#666, #1e1e1e); 
      background: -webkit-linear-gradient(#666, #1e1e1e); 
   }


   header {
      background-color: #fff568;
      position: fixed; 
      height: 52px;
      top: 0px;
      transition: top 0.2s ease-in-out;
      width: 100%;
      z-index:9999;
   }
   .has-betslip header { height: 97px; }

   #content { margin-top: 52px; }
   .has-betslip #content { margin-top: 97px;}
   .betslip-btn { display: none; }
   .has-betslip .betslip-btn { display:block;}

   .back-btn { float: left; width:10%; background-color: #ebecf0; color: #565656;
      border-bottom: 1px #565656 solid;
      border-right: 1px #565656 solid;
      display: none;
   }

   .button { height: 45px; padding: 10px; text-align: center;margin:0;
      color: #333;
   }

   #menu-btn { float:right; height: 32px; width: 32px; margin: 10px; background-image: url(img/icon_menu.png); 
      background-repeat: no-repeat;
   }

   header ul#nav { 
      position: fixed; 
      top: 52px;
      right: 10px;
   }

   header ul#nav li { 
      background: #565656;
      height: 16px; }

   .nav-up { top: -52px; }
   /* hide menu behind button */
   header ul#nav { display: none; }
   header.menu-active ul#nav { display: block; }

}

/* SECTION */
section h3, section h4 { margin: 15px 0 0 6px; font-size: 1em; font-weight: normal;padding: 3px;}

/* GAMES */

/* selected game, hover game */
.games li { background-color: #3c3c3c; border-top: 1px #565656 solid; margin-bottom:1px; }
.games li.selected .overview { background-color: #ffb54b; color: #565656;}


/* BETS */
li table.bets { display: none; }
li.selected table.bets { display: table; }

table.bets td.mybet { background-color: #fff568; color: #565656;}
/* upper-left corner */
table.bets tr:nth-child(1) th:nth-child(1) { background-color: #ffb54b; border-top: 1px #ffb54b solid;}

table.bets td.selected { background-color: #ffb54b; color: #565656;}
table.bets { width: 100%; font-weight:500;}
table.bets td { width: 15%; height: 5em; background-color: #6fa9e4; border: 1px #565656 solid;text-align: center; font-size: .6em;} 
table.bets th {  height: 2em; background-color: #3c3c3c; border-top: 1px #565656 solid;border-right: 1px #565656 solid;  text-align: center; }

/* GAME OVERVIEW */
.games li .overview div {
   padding:3px; 
   overflow:hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    font-weight: 300;

   box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

.games li div.live { text-align: center; font-style: italic; color: #d61e22; font-weight: bold; font-size: 75%; } 
.games li div.status { font-size: 75%; text-align: center; font-size: 75%; }

.games li div.date { text-align: center; font-size: 75%; }

.games li div.home { text-align: right; width: 44%; text-overflow: ellipsis; float:left;}
.games li div.home_score {width: 4%; font-weight:500; float:left;}
.games li div.away_score {width: 4%; font-weight:500; float:left;}
.games li div.home_ind  { width: 4%; float:left; text-align: center;}
.games li div.away {  width: 44%; text-overflow: ellipsis; float:left;}


.games li div.home { width: 44%; }
.games li div.home_ind  { width: 12%; float:left; text-align: center;}
.games li div.away {  width: 44%; }

.games li div.stake {  margin: 10px 0 5px 5%; width: 28%;  font-size: 65%; float: left; }
.games li div.stake span {  font-size: 140%; font-weight: 500; }

.games li br { clear:both; height: 4px; } 



/*  FAQ */

.faq li a { font-weight: 300; color: #ffb54b; line-height:1.3em; }
.faq h4 a { font-weight: 300; color: #ffb54b; padding-left: 12px; text-decoration: none; }
.faq p { font-weight: 300; color: #ebecf0; padding: 0 12px; }
.faq li { padding: 0 12px; }




@media (min-width: 2000px) {

#betslip { background-color: #fff568;}



#betslip .games li { background-color: #6fa9ee; }
#betslip { margin-top: 129px; }

#betslip div.total-wager ,
#betslip div.total-win { color: #545454; border-top: #545454 solid 1px; padding-top: 8px;}
#betslip div.total-wager span,
#betslip div.total-win span { display:inline-block; width:50%; text-align:right; }
#betslip div.total-wager span.v,
#betslip div.total-win span.v { display:inline-block; width:20%; text-align:right; }
#betslip .return-address { width: 100%; font-size: 120%; text-align: center; padding: 10px; }
#betslip .return-address-info { background-color: #ebecf0; color: #545454; padding: 5px; text-align: center;}


#betslip .button { 
   display: inline-block; width: 50%; background-color: #ebecf0; color: #545454;border: #545454 solid 1px;padding: 10px;}

.stake-edit span {font-size: 75%; }
.stake-edit input { width: 30%; border: none; margin: 1px; height: 18px; }

.stake-edit input { width: 30%; }
.stake-edit input { border: none; margin: 1px; height: 15px; }
.stake-edit input.btn-plus,
.stake-edit input.btn-minus { width: 16px; background-color:white; }
.stake-edit input.btn-minus { margin-left: 5px; }
.stake-edit input.v { text-align: right; }
.btn-remove { float: right; margin: 5px; background-color: #d61e22; color: #ebecf0;}




}
