html { font-family: sans-serif; }

body { margin: 0; background: #565656;}

body > section { display: none; }
body > section#games { display: inherit; }


header h1 { margin:0; height: 2em; font-size: 1em; background-color: #444; 
   background: linear-gradient(#666, #1e1e1e); 
   background: -webkit-linear-gradient(#666, #1e1e1e); 
}

header h1 #logo { 
   background-image: url(img/logo.png);
   background-repeat: no-repeat;
   background-size: contain;
   width: 2em;
   height: 2.1em;

}

header {
   position: fixed; height: 4em; top: 0;
   transition: top 0.2s ease-in-out;
   width: 100%;
   z-index:9999;
}

.nav-up { top: -4em; }

ul {
   list-style:none; 
   padding:0; 
   margin:0; 
}

nav ul li { 
   float:left;
   width:20%;
   box-sizing: border-box;
   -ms-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   border-right: 1px #444 solid;
   border-bottom: 1px #444 solid;
   padding-top: 0.4em;
   text-align:center;
   background-color:#eceff0;
   height: 2em;
}

nav ul li:nth-child(5) { border-right: none; }

section { margin-top: 6em;clear: both; }

section {color: #eee; }
#games li:hover,
#games li.selected { background-color: #ffb54b; }
#games li {background-color: #eceff0; color: #222; list-style: none; position:relative;margin-bottom:1px;}
#games li div {padding:3px; }
#games li div.date {position:absolute; left: 40%; top: 20%; font-size: 75%;}

