
/* Main css */

* { font-family: "Trebuchet MS", Verdana; color: #2F343B; margin: 0; }

a { text-decoration: none; }

html { background:#C77966; padding: 0; margin: 0; }

body { width: 75%; margin: 0 auto; background-color: #E3CDA4; box-shadow: 0 0 10px 5px #444; }

header { background: linear-gradient(to bottom,  #cdeb8e 0%,#a5c956 100%); padding: 2em; }

li { list-style: none;  }

body > nav { float: right;}

body > nav li { float: left; margin: 1em;}

body > ul { clear:right; padding: 0;}
dl { border-radius: 5px; background: #F3DDB4; padding: 3em; }
dl:hover { background: #F3DDC4; }
dl dt { display: none; }
dl dd { display: inline-block; margin-bottom: 0.3em; }
dl dd.league {  width: 40%; font-size: 90%; left: 5%;  }
dl dd.bets {display: none; }
dl dd.time {  padding-left: 1%; font-size: 90%; width: 15%; overflow:hidden; }
dl dd.location {  font-size: 90%;  width: 38%; text-align: right; }

dl dd.away { width:45%; font-size: 120%; }
dl dd.home { width:45%; font-size: 120%; }

dl dd.bets { clear: both; }

dl { clear: left; margin: 0.3em; padding: 0.1em;  border: solid 1px #D3B294;}


footer p { text-align: center; margin: 1em; }

