<html>
  <head>
    <style>
    td { border: 0; }
	html { font-family: sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color: #3c3c3c; }
    .team	{font-weight:600;}
    .result	{font-weight:600;}
    table {width: 400px;}
    tr, td	{text-align: center;}
    th .small {font-size:75%;}
    </style>
  </head>
  <body>


    <img src="https://btcsoccer.com/img/btcsoccer_logo_email.png">
    <p>Hi {{email_address}}, we have received your payment and registered the following bets:
    <table>
      <tr>
        <th>Match
        <th>End Result
        <th>Stake
         
      {{#bets}}
      <tr>
        <td> {{#game_data}}{{home}} - {{away}}{{/game_data}}</td>
        <td> {{result}}</td>
        <td> {{amount}} mBTC  </td>
      {{/bets}}
    </table>
      <br >
		<p>
		Good Luck,<br>
		The BTCsoccer team
		</p>
  </body>
</html>
