

      {{#games}}
        <h3>Live</h3>
        <ul>
        {{#live}}
          <li>
            <div class="overview">
              <div class="home">{{home}}</div>
              <div class="away">{{away}}</div>
              <div class="date">{{date}}</div>
            </div>
            <table class="result">
              <tr><th><th>0<th>1<th>2<th>3<th>4<th>5
              {{#results}}
              <tr><th>{{away}} 
                  {{#cols}}
                      <td>{{score}}
                  {{/cols}}
              {{/results}}

            </table>

        {{/live}}
        </ul>

        <h3>Today</h3>
        <ul>
        {{#today}}
          <li>
            <div class="overview">
              <div class="home">{{home}}</div>
              <div class="away">{{away}}</div>
              <div class="date">{{date}}</div>
            </div>
            <table class="result">
              <tr><th><th>0<th>1<th>2<th>3<th>4<th>5
              {{#results}}
              <tr><th>{{away}} 
                  {{#cols}}
                      <td>{{score}}
                  {{/cols}}
              {{/results}}

            </table>

        {{/today}}
        </ul>

        <h3>Later</h3>
        <ul>
        {{#later}}
          <li>
            <div class="overview">
              <div class="home">{{home}}</div>
              <div class="away">{{away}}</div>
              <div class="date">{{date}}</div>
            </div>
            <table class="result">
              <tr><th><th>0<th>1<th>2<th>3<th>4<th>5
              {{#results}}
              <tr><th>{{away}} 
                  {{#cols}}
                      <td>{{score}}
                  {{/cols}}
              {{/results}}

            </table>
        {{/later}}
        </ul>

      {{/games}}
    </ul>

