

      {{#games}}
        <h3>Live Games</h3>
        <ul class="games live">
        {{#live}}
        <li id="game-{{id}}">
            <div class="overview">
              <div class="live">LIVE</div>
              <div class="status">{{status}}</div>
              <div class="home">{{home}}</div>
              <div class="home_score">{{home_score}}</div>
              <div class="home_ind">-</div>
              <div class="away_score">{{away_score}}</div>
              <div class="away">{{away}}</div>
              <div class="home_goal_details">{{home_goal_details}}</div>
              <div class="away_goal_details">{{away_goal_details}}</div>

              <div class="stake_total_label">TtlWagered</div>
              <div class="stake_total">{{total}}</div>
              <div class="stake_my_label">TtlWagered</div>
              <div class="stake_my"></div>
              <div class="stake_max_label">MyMaxWin</div>
              <div class="stake_max"></div>
                  
            </div>
            <table class="bets">
              <tr><th><th>0<th>1<th>2<th>3<th>4<th>5
              {{#results}}
              <tr><th>{{away}} 
                  {{#cols}}
                      <td>{{score}}
                  {{/cols}}
              {{/results}}

            </table>

        {{/live}}
        </ul>

        <h3>Today&apos;s Games</h3>
        <ul class="games planned">
        {{#today}}
        <li id="game-{{id}}">
            <div class="overview">
              <div class="date">{{date}}</div>
              <div class="home">{{home}}</div>
              <div class="home_ind">-</div>
              <div class="away">{{away}}</div>

              <div class="stake total">TtlWagered: <span>{{total}}</span></div>
              <div class="stake my">MyStakes: <span>0</span></div>
              <div class="stake max">MyMaxWin: <span>0</span></div>
              <br>
            </div>
            <table class="bets">
              <tr><th><th>0<th>1<th>2<th>3<th>4<th>5
              {{#results}}
              <tr><th>{{away}} 
                  {{#cols}}
                      <td>{{score}}
                  {{/cols}}
              {{/results}}

            </table>

        {{/today}}
        </ul>

        <h3>This Week&apos;s Games</h3>
        <ul class="games planned">
        {{#later}}
        <li id="game-{{id}}">
            <div class="overview">
              <div class="date">{{date}}</div>
              <div class="home">{{home}}</div>
              <div class="home_ind">-</div>
              <div class="away">{{away}}</div>

              <div class="stake total">TtlWagered: <span>{{total}}</span></div>
              <div class="stake my">MyStakes: <span>0</span></div>
              <div class="stake max">MyMaxWin: <span>0</span></div>
              <br>
            </div>
            <table class="bets">
              <tr><th><th>0<th>1<th>2<th>3<th>4<th>5
              {{#results}}
              <tr><th>{{away}} 
                  {{#cols}}
                      <td>{{score}}
                  {{/cols}}
              {{/results}}

            </table>
        {{/later}}
        </ul>

      {{/games}}
    </ul>

