

      {{#games}}
        <h3>Live</h3>
        <ul>
        {{#live}}
          <li>
          <div class="home">{{home}}</div>
          <div class="away">{{away}}</div>
          <div class="date">{{date}}</div>
        {{/live}}
        </ul>

        <h3>Today</h3>
        <ul>
        {{#today}}
          <li>
          <div class="home">{{home}}</div>
          <div class="away">{{away}}</div>
          <div class="date">{{date}}</div>
        {{/today}}
        </ul>

        <h3>Later</h3>
        <ul>
        {{#later}}
          <li>
          <div class="home">{{home}}</div>
          <div class="away">{{away}}</div>
          <div class="date">{{date}}</div>
        {{/later}}
        </ul>

      {{/games}}
    </ul>

