<!DOCTYPE html>
<html>
  <head>
    {{#info}}
    <title>BTC Soccer</title>
    <!-- {{balance}} | {{duration}} | {{time}} -->
    <meta charset="UTF-8">
    <meta name="author" content="Tomas van der Wansem">
    <meta name="keywords" content="bitcoin soccer betting">
    <meta name="description" content="Peer to peer betting on soccer results with Bitcoin">
    <link rel="stylesheet" href="{{css}}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
    <script src="{{js}}"></script>
    {{/info}}
  </head>
  <body>
    <header>
        <h1>BTC Soccer</h1>
        <ul>
          <li>Peer-to-peer betting on soccer results
          <li>Monetize your soccer knowledge
          <li>Easy to use. No login. No registration. Just Bitcoin
          <li>As secure and transparent as the blockchain
        </ul>
    </header>
    <nav>
        <ul>
          <li><a href="matches">Matches</a>
          <li><a href="results">Results</a>
          <li><a href="about">About</a>
        </ul>
    </nav>
