
<div class="my">
  <h3>My Stats</h3>
  <table class="n">
    <tr><th>Betslip bets<td>0
    <tr><th>Betslip bets (mBTC)<td>0
    <tr><th>Active bets<td>0
    <tr><th>Active bets (mBTC)<td>0
  </table>
</div>
<div class="global">
  <h3>Global Stats</h3>
  <table class="n">
    <tr class="a"><th>Balance<td>{{balance}}
    <tr class="a"><th>Balance-dispatch<td>{{balance_dispatch}}

    <tr><th>Active bets<td>{{total_bets_open}}
    <tr><th>Active bets (mBTC)<td>{{total_bets_open_mbtc}}
    <tr><th>Total bets<td>{{total_bets}}
    <tr><th>Total bets (mBTC)<td>{{total_bets_mbtc}}

    <tr><th>Total paid (winnings)<td>{{total_tx_winnings}}
    <tr><th>Total paid (refunds)<td>{{total_tx_allwrong}}
    <tr class="a"><th>Total paid (returned, invalid bet)<td>{{total_tx_invalid}}
  </table>
</div>
<br>

<div class="latesttx">
  <h3>Latest outgioing transactions<h3>



  <table class="txs">
    {{#txs}}
    <tr><td>{{#game}}{{home}}-{{away}}{{/game}}
        <td>{{#game}}{{result}}{{/game}}
          <td>{{type}}
            <td><a target="_new" href="http://blockr.io/tx/info/{{txid}}">{{txid}}</a>
          <td>
            <table>
              {{#outputs}}
              <tr><td>{{address}}<td>{{amount}}
              {{/outputs}}
            </table>
    {{/txs}}
  </table>
</div>
